/*
coming more soon
needs bootstrap
*/
body{
	background-image: url(../asset/exclusive_paper.png);
	font: 1.1em Georgia;
}

A:link{
	color: #78a197;
}
A:visited{
	color:#bfbfbf;
}
A:active{
	color: #5dbea6;
}
A:hover{
color:#c9c9c9;
text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
	margin-top: 1.5em;
}

#header{
	height: 13px;
	background-color: #000000;
}

#header ul{
	float: right;
	list-style-type: none;
	margin: 0px 15px 0px 0px;
	padding: 5px 0px 0px;
	vertical-align: baseline;
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
	
}

#header li{


	margin: 0;
	padding: 0px 0px 0px 10px;
	float: left;
	font-size: 0.8em;
	letter-spacing: .1em;
	display: list-item;
	
}

#thecontent{
	margin-top: 40px;
}

#vid{
	text-align: center;
	height: 100%;
	}


#head, #foot{
	
	width: 100%;
	text-align: center;
	    margin-left:auto;
    margin-right:auto;
margin-bottom:2em;}


#zombiedance{
	text-align: center;
margin-bottom:2em;}


#history{
	border-bottom: 1px dotted #898989;
		border-top: 1px dotted #898989;
	
}
#footlinks{
	text-align: center;
	

    font-size: 0.8em;
	margin-bottom: 2em;
	border-top: 1px solid #ffffff;
}

