/*
coming more soon
needs bootstrap
*/
body{
/*	background-image: url(../asset/broken_noise.png);*/
}

#head, #foot{
	
	width: 100%;
	text-align: center;
	    margin-left: auto;
    margin-right: auto;
}

#header{
/*	background-image: url(../asset/broken_noise.png);*/
	
}

#footer{
/*	background-image: url(../asset/broken_noise.png);*/
}


#content{

padding-left: 17%;
padding-right: 17%;
background-color: white;

}

/*{
	max-width: 1280px;
	width: 100%;
	text-align: center;
	    margin-left: auto;
    margin-right: auto;
	
}*/