/*
coming more soon
needs bootstrap
*/
body{
	background-image: url(../asset/exclusive_paper.png);
	font-family: Georgia;
}

A:link{
	color: #78a197;
}
A:visited{
	color:#bfbfbf;
}
A:active{
	color: #5dbea6;
}
A:hover{
color:#c9c9c9;
text-decoration: none;
}



#vid{
	text-align: center;
	height: 100%;
	}


#head, #foot{
	
	width: 100%;
	text-align: center;
	    margin-left: auto;
    margin-right: auto;
}




#footlinks{
	text-align: center;
/*	position:absolute;
	 bottom:0;
	 width:100%;
	 height:60px;   /* Height of the footer *!/*/
}

