<!DOCTYPE html>
<html>
<head lang="de">
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="MT4D" />
    <meta name="author" content="fabiantheblind" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
<!--   <link rel="stylesheet" href="/AEMap/asset/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="/AEMap/asset/css/style.css" type="text/css" /> -->

</head>
<body>
		{{ content }}
</body>
</html>